/* Hide Slick's default arrows */
.slick-prev,
.slick-next {
  display: none !important;
}

/* Style for custom arrows */
.custom-arrow {
  position: absolute;
  top: -20%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: white;
  background-color: #0f5e8b; 
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px; /* Slightly rounded corners */
  z-index: 10;
  transition: background 0.3s ease;
}

/* Hover Effect */
.custom-arrow:hover {
  background-color: #0C4A6E; 
}

/* Left Arrow */
.custom-prev {
  right: 65px; 
}

/* Right Arrow */
.custom-next {
  right: 10px; 
}
