/* Hide slick's default arrows */
.slick-prev,
.slick-next {
  display: none !important;
  z-index: inherit;
}

/* Style your custom arrows */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 44px;
  color: #0369a1;
  background-color: transparent;
  z-index: inherit;
}

.custom-prev {
  left: -15px;
  z-index: 2;
}

.custom-next {
  right: -15px;
  z-index: 2;
}

.custom-arrow:hover {
  color: #035f90;
}
